 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background.png");
  background-position: 0% 57.34%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-1 .u-group-1 {
  min-height: 906px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 121px;
  margin: 100px 0 400px;
}

.u-section-1 .u-text-1 {
  margin: 8px 9px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 380px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 68px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
  border-style: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 68px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}